.btn {
  background-color: var(--btn-bg-clr);
  border-radius: 15px;
  box-shadow: 2px 2px 3px var(--shadow-clr);
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
  padding: 10px 20px;
}

div.btn:hover {
  cursor: pointer;
}

div.btn:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}
