.board {
  display: grid;
  gap: 1px;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: repeat(10, 30px);
}

.cell {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  background-color: grey;
  border: 1px solid black;
  border-radius: 15px;
  height: calc(100% - 6px);
  margin: 3px;
  align-self: center;
  z-index: 1;
}

.board img {
  margin: 5px;
  align-self: center;
  justify-self: center;
  z-index: 2;
}
