@import url(./colors.css);

.ui-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.board {
  display: grid;
  gap: 1px;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: repeat(10, 30px);
}

.cell {
  background-color: var(--board-cell-clr);
  box-shadow: 2px 2px 3px var(--shadow-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  background-color: var(--board-ship-clr);
  border-radius: 15px;
  box-shadow: 2px 2px 3px var(--shadow-clr);
  height: calc(100% - 6px);
  margin: 1px 3px 3px 1px;
  align-self: center;
  z-index: 1;
}

.board img {
  margin: 5px;
  align-self: center;
  justify-self: center;
  z-index: 2;
}

.board-message {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.board-message p {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.fade-in {
  opacity: .85;
  visibility: visible;
  transition: visibility 0s, opacity 0.3s linear;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
