@import url(./colors.css);

.ui-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.board {
  display: grid;
  gap: 1px;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: repeat(10, 30px);
}

.cell {
  background-color: var(--board-cell-clr);
  box-shadow: 2px 2px 3px var(--shadow-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  background-color: var(--board-ship-clr);
  border-radius: 15px;
  box-shadow: 2px 2px 3px var(--shadow-clr);
  height: calc(100% - 6px);
  margin: 1px 3px 3px 1px;
  align-self: center;
  z-index: 1;
}

.board img {
  margin: 5px;
  align-self: center;
  justify-self: center;
  z-index: 2;
}
