* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

#header {
  background-color: grey;
  box-shadow: 0px 3px 5px grey;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 50px;
}
